[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ujson = "*"
pyyaml = "*"
networkx = "*"
"netcdf4" = "*"

[dev-packages]
pip = ">=21.1"
pyready = {editable = true,git = "https://github.com/binh-vu/py-ready.git"}
pytest = '*'
pytest-cov = "*"

[requires]
python_version = "3.7"
