html,
body,
#root,
#root .App {
  height: 100%;
}

.margin-top-8 {
  margin-top: 8px !important;
}

.margin-top-4 {
  margin-top: 4px !important;
}

.margin-right-8 {
  margin-right: 8px !important;
}

.margin-left-8 {
  margin-left: 8px !important;
}

.text-align-center {
  text-align: center;
}

#root .App .logo {
  height: 1px; /* only need to > 0 */
  float: left;
  color: white;
  width: 100px;
  line-height: 55px;
}
