[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv-setup = "*"

[packages]
xmltodict = "*"
ruamel-yaml = ">=0.15.0"
ujson = "*"

[requires]
python_version = "3.7"
